/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

header {
  background-color: lightgray;
  width: 100%;
}

button:disabled, button:disabled *, button:disabled:hover {
  color: rgb(200, 198, 196) !important;
  cursor: initial !important;
  pointer-events: all !important;
}

.header {
  display: table;
  min-height: 50px;
  margin: 0 25px;
}

.header .ms-Breadcrumb{
  margin-top: 2px;
}

.logo {
  display: table-cell;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  margin: 0 25px;
  color: red;
}

.logo i {
  margin-top: 10px;
}

.title {
  font-size: 20px;
  display:table-cell;
  align-content: left;
  vertical-align: middle;
  width: 100%;
  padding: 0 25px;
}

.commands {
  border-bottom: lightgray 1px solid;
}

.content {
  margin: 25px;
}

.seperator {
  border-left: lightgray 1px solid;
  margin: 10px 10px;
}

.searchBox {
  border: 0;
  margin-top: 6px;
  width: 250px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.content hr {
  margin-bottom: 15px;
}

.announcement .ms-Dialog-main {
  max-width: 800px;
}

.announcement .ms-Dialog-content {
  overflow: overlay;
  height:500px;
}

.cleanupList {
  min-width: 400px;
}
.cleanupList .cleanupItem {
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  display: flex;
  outline: transparent;
}

.cleanupList .cleanupItemContent {
  margin-left: 10px;
  overflow: hidden;
  flex-Grow: 1;
}

.cleanupList .cleanupItemContent div:first-child {
  font-weight: bold;
}

.ms-MessageBar {
  padding-left: 20px;
}

.ms-MessageBar button {
  margin-left: 10px;
}

.ms-Breadcrumb-item,
.ms-Breadcrumb-itemLink {
  font-size: 18px;
}

.ms-Breadcrumb-itemLink:hover {
  background-color: inherit;
}

.ms-Breadcrumb-listItem:last-child .ms-Breadcrumb-item,
.ms-Breadcrumb-listItem:last-child .ms-Breadcrumb-itemLink {
  font-weight: normal !important;
}

.ms-DocumentCard img {
  margin: 10px 0;
  height: 90%;
  top: 40%;
}

.ms-DocumentCardActions {
  background-color: rgb(243, 242, 241);
}

.ms-Spinner {
  margin-top: 40%;
}
