.teamCloudFieldTemplateRoot > label {
	font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 600;
    color: rgb(50, 49, 48);
    box-sizing: border-box;
    box-shadow: none;
    margin: 0px;
    display: block;
    padding: 5px 0px;
    overflow-wrap: break-word;
}

.teamCloudFieldTemplateRoot > * {
	/* 	
		no gap between fields by default
	*/
	margin-top: 0 !important; 
}

.teamCloudFieldTemplateRoot .ms-Label {
	/* 	
		default gap between fields
		based on the field label margin
	*/
	margin-top: 20px; 
}

form > .teamCloudFieldTemplateRoot > .ms-Label {
	/* 	
		suppress gap between fields
		for the first field in form
	*/
	margin-top: 0 !important; 
}

.teamCloudFieldTemplateSelect > .panel-body > .teamCloudFieldTemplateRoot > .ms-Label {
	/* 	
		hide labels showing the dropdown
		when using anyof / oneof in schema
	*/
	display: none;
}

